@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}


<h1>Are You Sure You Want To Delete @Model.Name Employee</h1>

<form asp-action="Delete" asp-route-id="@Model.Id" class="mt-5 ">

    <partial name="PartialViews/DeleteDetailsPartialView"></partial>

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary"> Cancel</a>

</form>


