@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}


<h1>Edit Employee [ @Model.Name ] Information</h1>

<div asp-validation-summary="All" ></div>

<form asp-action="Edit" asp-route-id="@Model.Id" class="mt-5 " enctype="multipart/form-data">

    <partial name="PartialViews/CreateEditePartialView"></partial>


    <input type="submit" value="Save" class="btn btn-info" /> |
    <a asp-action="Index" class="btn btn-light"> Back To List</a>

</form>
@section ValidationScriptSection{

    <partial name="_ValidationScriptsPartial"></partial>
   
}

