@model Department

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department  </h1>

<div asp-validation-summary="All"></div>


<form asp-action="Edit" class="mt-5 ">
  
    <partial name="PartialViews/CreateEditPartialView"></partial>

    <input type="submit" value="Save" class="btn btn-info" /> |
    <a asp-action="Index" class="btn btn-light"> Back To List</a>

</form>

@section ValidationScriptSection {

    <partial name="_ValidationScriptsPartial"></partial>

}