@model int


<td><a asp-route-id="@Model" asp-action="Details"><i class="fa-solid fa-eye"></i> </a> </td>
<td><a asp-route-id="@Model" asp-action="Edit"><i class="fa-solid fa-pen-to-square text-warning"></i></a></td>
<td><a asp-route-id="@Model" asp-action="Delete"><i class="fa-solid fa-trash-can text-danger"></i></a></td>