
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h5>Password Reset Link Has Been Sent To Your Mail <br /> Please Check Your Inbox</h5>

<a  href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">Go To Your Inbox</a>

