@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Forget Password</h2>

<div class="text-danger" asp-validation-summary="All">
</div>

<form asp-action="SendEmail">

    <div class="input-box">
        <input asp-for="Email" placeholder="Recovery Email" required>
    </div>
    <span class="text-danger" asp-validation-for="Email"></span>

    <div class="input-box button">
        <input type="Submit" value="Reset Password">
    </div>
    
</form>

@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial"></partial>
}