@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>ResetPassword</h2>

<div class="text-danger" asp-validation-summary="All">
</div>

<form asp-action="ResetPassword">

    <div class="input-box">
        <input asp-for="NewPassword" placeholder="New Password" required>
    </div>
    <span class="text-danger" asp-validation-for="NewPassword"></span>

    <div class="input-box">
        <input asp-for="NewConfirmPassword" placeholder="New Confirm Password" required>
    </div>
    <span class="text-danger" asp-validation-for="NewConfirmPassword"></span>

    <div class="input-box button">
        <input type="Submit" value="Reset">
    </div>
   
</form>

@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial"></partial>
}


